DATABASE_URL=postgresql://restaurant_clone_user:a21wENWxP3g3uNNLk5CzwPAnZ0dd5KF2@dpg-cuh2iatumphs739u4lmg-a.virginia-postgres.render.com/restaurant_clone?ssl=true
DATABASE_URL_DEVELOPMENT=postgresql://restaurant_clone_user:a21wENWxP3g3uNNLk5CzwPAnZ0dd5KF2@dpg-cuh2iatumphs739u4lmg-a.virginia-postgres.render.com/restaurant_clone?ssl=true
DATABASE_URL_TEST=postgresql://restaurant_clone_user:a21wENWxP3g3uNNLk5CzwPAnZ0dd5KF2@dpg-cuh2iatumphs739u4lmg-a.virginia-postgres.render.com/restaurant_clone?ssl=true
DATABASE_URL_PREVIEW=postgresql://restaurant_clone_user:a21wENWxP3g3uNNLk5CzwPAnZ0dd5KF2@dpg-cuh2iatumphs739u4lmg-a.virginia-postgres.render.com/restaurant_clone?ssl=true
PORT=5001